/*
    Created  	: AUGUST 2016
    Author      : AC
    Description : FOR INFO / MAP / INBV PAGES
*/
/* ------------------------------------ MIXINS */
/* CSS Document 


light red						#ff807a
red								#ed4949
brown 			Wood:#7d3d1c
lightbrown 	Iron:#c59673
lightblue 		Steel/Silver:#c6e4ff
blue 			Mithril:#70b9ed
green			Adamantium:#87d63f 
dark green						#4F6C42 - crafting button
gold			Unobtanium:#ffd016
yellow							#fff000
dark red		DragonBone:#bb0000	
black			Graynium:#000000
purple							#6d3eb8
pink			enchanted:#ff9eff 


*/
/* ---------------------------------------------------------------------------------------------------- COLORS */
/* ---------------------------- RED */
/* line 37, ../assets/scss/_colors.scss */
#container .lightred {
  color: #FF807B;
}

/* line 38, ../assets/scss/_colors.scss */
#container .red {
  color: #db6c64;
}

/* line 39, ../assets/scss/_colors.scss */
#container .redborder {
  border: 1px solid #db6c64;
}

/* line 40, ../assets/scss/_colors.scss */
#container .lightredborder {
  border: 1px solid #FF807B;
}

/* line 41, ../assets/scss/_colors.scss */
#container .darkred {
  color: #bb0000;
}

/* line 43, ../assets/scss/_colors.scss */
#container .redbrown {
  color: #996162;
}

/* line 44, ../assets/scss/_colors.scss */
#container .redbrownBG {
  background: #996162;
}

/* line 46, ../assets/scss/_colors.scss */
#container .purered {
  color: #ff0000;
}

/* line 48, ../assets/scss/_colors.scss */
#container .redBG {
  background: #db6c64;
}

/* line 49, ../assets/scss/_colors.scss */
#container .lightredBG {
  background: #FF807B;
}

/* ---------------------------- BLUE */
/* line 60, ../assets/scss/_colors.scss */
#container .blue {
  color: #689cc1;
}

/* line 61, ../assets/scss/_colors.scss */
#container .blueborder {
  border: 1px solid #689cc1;
}

/* line 62, ../assets/scss/_colors.scss */
#container .lightblue {
  color: #c6e4ff;
}

/* line 63, ../assets/scss/_colors.scss */
#container .darkblue {
  color: #518fbc;
}

/* line 64, ../assets/scss/_colors.scss */
#container .cyan {
  color: #00FFFF;
}

/* line 65, ../assets/scss/_colors.scss */
#container .ocean {
  color: #1eb5f1;
}

/* line 68, ../assets/scss/_colors.scss */
#container .blueBG {
  background: #689cc1;
}

/* line 69, ../assets/scss/_colors.scss */
#container .lightblueBG {
  background: #c6e4ff;
}

/* line 70, ../assets/scss/_colors.scss */
#container .darkblueBG {
  background: #518fbc;
}

/* line 71, ../assets/scss/_colors.scss */
#container .oceanBG {
  background: #1eb5f1;
}

/* ---------------------------- GREEN */
/* line 79, ../assets/scss/_colors.scss */
#container .green {
  color: #7ebe63;
}

/* line 80, ../assets/scss/_colors.scss */
#container .dgreen {
  color: #3EA22D;
}

/* line 81, ../assets/scss/_colors.scss */
#container .darkgreen {
  color: #4F6C42;
}

/* line 83, ../assets/scss/_colors.scss */
.greenborder {
  border: 1px solid #7ebe63;
}

/* line 86, ../assets/scss/_colors.scss */
#container .greenBG {
  background: #7ebe63;
}

/* line 87, ../assets/scss/_colors.scss */
#container .dgreenBG {
  background: #57A60F;
}

/* line 88, ../assets/scss/_colors.scss */
#container .darkgreenBG {
  background: #4F6C42;
}

/* ---------------------------- GOLD/YELLOW */
/* line 98, ../assets/scss/_colors.scss */
#container .gold {
  color: #f1b238;
}

/* line 99, ../assets/scss/_colors.scss */
#container .yellow {
  color: #ffff00;
}

/* line 100, ../assets/scss/_colors.scss */
#container .lyellow {
  color: #ffe183;
}

/* line 101, ../assets/scss/_colors.scss */
#container .yellowgreen {
  color: #c4ee00;
}

/* line 102, ../assets/scss/_colors.scss */
#container .darkgold {
  color: #e5a812;
}

/* line 103, ../assets/scss/_colors.scss */
#container .orange {
  color: #de6e1d;
}

/* line 105, ../assets/scss/_colors.scss */
#container .goldBG {
  background: #f1b238;
}

/* line 106, ../assets/scss/_colors.scss */
#container .yellowBG {
  background: #ffff00;
}

/* line 107, ../assets/scss/_colors.scss */
#container .yellowgreenBG {
  background: #c4ee00;
  color: #4F6C42;
}

/* line 108, ../assets/scss/_colors.scss */
#container .orangeBG {
  background: #de6e1d;
}

/* ---------------------------- PURPLE */
/* line 116, ../assets/scss/_colors.scss */
#container .purple {
  color: #9f8ac2;
}

/* line 117, ../assets/scss/_colors.scss */
#container .lightpurple {
  color: #BDA0EF;
}

/* line 118, ../assets/scss/_colors.scss */
#container .medpurple {
  color: #9D80CF;
}

/* line 119, ../assets/scss/_colors.scss */
#container .pink {
  color: #ff9eff;
}

/* line 122, ../assets/scss/_colors.scss */
#container .purpleBG {
  background: #9f8ac2;
}

/* line 123, ../assets/scss/_colors.scss */
#container .lightpurpleBG {
  background: #BDA0EF;
}

/* ---------------------------- BROWN */
/* line 134, ../assets/scss/_colors.scss */
#container .lightbrown {
  color: #c59673;
}

/* line 135, ../assets/scss/_colors.scss */
#container .brown {
  color: #9c7a60;
}

/* old brown :#7d3d1c */
/* line 136, ../assets/scss/_colors.scss */
#container .brownBG {
  background: #9c7a60;
}

/* line 137, ../assets/scss/_colors.scss */
#container .lightbrownBG {
  background: #c59673;
}

/* ---------------------------- MISC */
/* line 141, ../assets/scss/_colors.scss */
#container .greenfield {
  color: #7ebe63;
}

/* line 142, ../assets/scss/_colors.scss */
#container .greenfieldBG {
  background: #7ebe63;
}

/* line 144, ../assets/scss/_colors.scss */
#container .forest {
  color: #46ac4d;
}

/* line 145, ../assets/scss/_colors.scss */
#container .forestBG {
  background: #46ac4d;
}

/* line 147, ../assets/scss/_colors.scss */
#container .swamp {
  color: #96a172;
}

/* line 148, ../assets/scss/_colors.scss */
#container .swampBG {
  background: #96a172;
}

/* line 149, ../assets/scss/_colors.scss */
#container .dirt {
  color: #937774;
}

/* line 150, ../assets/scss/_colors.scss */
#container .dirtBG {
  background: #937774;
}

/* line 151, ../assets/scss/_colors.scss */
#container .sand {
  color: #ffcb39;
}

/* line 152, ../assets/scss/_colors.scss */
#container .sandBG {
  background: #ffcb39;
}

/* line 153, ../assets/scss/_colors.scss */
#container .savannah {
  color: #b1bd62;
}

/* line 154, ../assets/scss/_colors.scss */
#container .savannahBG {
  background: #b1bd62;
}

/* ---------- GRAY */
/* ---------- GRAY */
/* line 172, ../assets/scss/_colors.scss */
#container .lightgray {
  color: #eee;
}

/* line 173, ../assets/scss/_colors.scss */
#container .lgray {
  color: #ccc;
}

/* line 174, ../assets/scss/_colors.scss */
#container .gray {
  color: #999;
}

/* line 175, ../assets/scss/_colors.scss */
#container .dgray {
  color: #777;
}

/* line 176, ../assets/scss/_colors.scss */
#container .darkgray {
  color: #666;
}

/* line 177, ../assets/scss/_colors.scss */
#container .darkergray {
  color: #555;
}

/* line 178, ../assets/scss/_colors.scss */
#container .darkestgray {
  color: #474747;
}

/* line 179, ../assets/scss/_colors.scss */
#container .ddgray {
  color: #333;
}

/* line 180, ../assets/scss/_colors.scss */
#container .black {
  color: #000;
}

/* line 181, ../assets/scss/_colors.scss */
#container .white {
  color: #FFF;
}

/* line 183, ../assets/scss/_colors.scss */
#container .noBG {
  background: none;
}

/* line 184, ../assets/scss/_colors.scss */
#container .lightgrayBG {
  background: #eee;
}

/* line 185, ../assets/scss/_colors.scss */
#container .lgrayBG {
  background: #ccc;
}

/* line 186, ../assets/scss/_colors.scss */
#container .grayBG {
  background: #999;
}

/* line 187, ../assets/scss/_colors.scss */
#container .dgrayBG {
  background: #777;
}

/* line 188, ../assets/scss/_colors.scss */
#container .darkgrayBG {
  background: #666;
}

/* line 189, ../assets/scss/_colors.scss */
#container .darkergrayBG {
  background: #555;
}

/* line 190, ../assets/scss/_colors.scss */
#container .darkestgrayBG {
  background: #474747;
}

/* line 191, ../assets/scss/_colors.scss */
#container .ddgrayBG {
  background: #333;
}

/* line 193, ../assets/scss/_colors.scss */
#container .blackBG {
  background: #000;
}

/* line 194, ../assets/scss/_colors.scss */
#container .whiteBG {
  background: #FFF;
}

/* line 196, ../assets/scss/_colors.scss */
#container .focusBTN {
  background: #f1b238;
}

/* line 197, ../assets/scss/_colors.scss */
.feed .shopBTN {
  background: #f1b238;
  color: #666;
  text-transform: uppercase;
}

/* line 11, ../assets/scss/info.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 14, ../assets/scss/info.scss */
body {
  color: #666;
  background: #eee;
  font-size: 16px;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
}

/* line 15, ../assets/scss/info.scss */
body, input {
  font-family: 'Rubik', serif;
  -webkit-appearance: none;
}

/* line 20, ../assets/scss/info.scss */
form, p, span {
  margin: 0;
  padding: 0;
}

/* line 23, ../assets/scss/info.scss */
header {
  padding: 20px;
  background: #999;
  color: #fff;
}

/* line 24, ../assets/scss/info.scss */
.world-map {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  line-height: 0;
  max-width: 100vh;
  margin: 0 auto;
}
/* line 32, ../assets/scss/info.scss */
.world-map figure {
  padding: 0;
  margin: 0;
  position: relative;
}
/* line 37, ../assets/scss/info.scss */
.world-map li {
  list-style: none;
}
/* line 41, ../assets/scss/info.scss */
.world-map img {
  width: 100%;
}

/* line 50, ../assets/scss/info.scss */
[data-pop] {
  transition: 1s all;
  cursor: pointer;
  background: #fff;
}
/* line 55, ../assets/scss/info.scss */
[data-pop]:before {
  content: "\f065";
  font-family: FontAwesome;
  position: absolute;
  color: #fff;
  right: 7px;
  top: 7px;
  line-height: 1em;
  font-size: 1rem;
}
/* line 65, ../assets/scss/info.scss */
[data-pop] .nextFig, [data-pop] .prevFig {
  display: none;
}

/* line 68, ../assets/scss/info.scss */
[data-pop].full {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  background: #111;
  text-align: center;
  z-index: 1;
}
/* line 80, ../assets/scss/info.scss */
[data-pop].full img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
/* line 87, ../assets/scss/info.scss */
[data-pop].full:before {
  content: "\f066";
}
/* line 90, ../assets/scss/info.scss */
[data-pop].full figcaption {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  text-shadow: 1px 1px 4px #000, 1px 1px 10px #000;
  font-weight: 900;
}
/* line 100, ../assets/scss/info.scss */
[data-pop].full.hide {
  display: block;
}
