
@mixin transitionAll($secs) {
    -webkit-transition: all $secs ease;
    -moz-transition: all $secs ease;
    -o-transition: all $secs ease;
    transition: all $secs ease;
}



@mixin transformScale($x, $y) {
    -webkit-transform: scale($x,$y);
    -moz-transform: scale($x,$y);
    -ms-transform: scale($x,$y);
    -o-transform: scale($x,$y);
    transform: scale($x,$y);
}

@mixin transformTranslate($x, $y) {
    -webkit-transform: translate($x,$y);
    -moz-transform: translate($x,$y);
    -ms-transform: translate($x,$y);
    -o-transform: translate($x,$y);
    transform: translate($x,$y);
}

@mixin transformRotate($deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);
}
@mixin textShadow($color) {
    text-shadow: 2px 2px 10px $color;
}
@mixin borderRadius($x) {
    -webkit-border-radius: $x;
    -moz-border-radius: $x;
    border-radius: $x; }


@mixin bodyPiece($x,$y) {
    width: $x;
    height: $y;
    margin: 0 auto;
}


/* Scss Document */
#stickman {height: 210px;
    position: relative;
    width: 300px;
    margin: 0px auto;
    top: 10px;z-index:3;
           .bPart {background:#ccc;position:absolute;@include borderRadius(10px);@include transitionAll(.5s);}
           .bPart .armorPiece {top:2px;left:2px;background:#888;position:absolute;@include borderRadius(10px);@include transitionAll(.5s);}

           &.heavy  { .bPart, .armorPiece {width:16px;}}
           &.light  { .bPart, .armorPiece {width:4px;}}

           &.square  { .bPart, .armorPiece {@include borderRadius(0);}}
           &.round  { .bPart, .armorPiece {@include borderRadius(10px);}}
           &.ellipse  { .bPart, .armorPiece {@include borderRadius(50%);}}

           .upperHalf {@include transformRotate(0deg);position:relative;top:0px;}
           &.leanBack .upperHalf {@include transformRotate(-5deg);right:12px;}
           &.leanForward .upperHalf {@include transformRotate(5deg);right:-12px;}

           &.zoomX2 {transform:scale(2);background:#eee;}
}
#stickman #head {      top: 48px;
                       left: 50%;
                       @include bodyPiece(50px, 50px);
                       @include transformTranslate(-50%,0);
                       @include borderRadius(50%);

                       .eyes {position:absolute;left:0;right:0;top:15px;bottom:0;
                           > i{width:20px;height:20px;@include borderRadius(50%);position:absolute;background:#fff;}
                           > i .pupil {width:7px;height:7px;@include borderRadius(50%);position:absolute;background:#000;top:7px;left:7px;}
                           .e1 {left:3px;}
                           .e2 {left:27px;}

                       }

}

#body {      left: 0;
             right: 0;
             top: 105px;
             @include bodyPiece(10px, 40px);
             .armorPiece {@include bodyPiece(10px, 40px);}
}

#leftArm {  left: 0;
            right: 38px;
            top: 101px;
            @include bodyPiece(10px, 30px);
            @include transformRotate(30deg);
            .armorPiece {@include bodyPiece(10px, 30px);}
}

#rightArm {  left: 38px;
             right: 0;
             top: 101px;
             @include bodyPiece(10px, 30px);
             @include transformRotate(-30deg);
             .armorPiece {@include bodyPiece(10px, 30px);}
}

#leftLeg {     left: 0;
               right: 32px;
               top: 145px;
               @include bodyPiece(10px, 40px);
               @include transformRotate(20deg);
               .armorPiece {@include bodyPiece(10px, 40px);}
}
#rightLeg {      left: 32px;
                 right: 0;
                 top: 145px;
                 @include bodyPiece(10px, 40px);
                 @include transformRotate(-20deg);
                 .armorPiece {@include bodyPiece(10px, 40px);}

}


#stickman .bPart, #skewBox, #raceBox {

    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}


/* ---------------------------- sword // every weapon */

#equipped.armRaise #leftArm {
    @include transformRotate(115deg);  top: 88px;
    right: 50px;
}
#equipped #swordHand {
    position: relative;

    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
#equipped.armWeapon #swordHand {
    @include transformRotate(-7deg);
    top: 11px;
    left: 25px;
}
#equipped.armWeapon #swordHand i {background:#999;position:absolute;border-radius:10px;
                                  -moz-transition: all .5s ease;
                                  -o-transition: all .5s ease;
                                  transition: all .5s ease;
}
#equipped.armWeapon #swordHand i.p1 { width: 7px;
                                      height: 100px;
                                      left: 0;
                                      right: 170px;
                                      margin: 0 auto;
                                      top: -10px;}
#equipped.armWeapon #swordHand i.p2 {width: 35px;
                                     height: 7px;
                                     left: 0;
                                     right: 170px;
                                     margin: 0 auto;
                                     top: 60px;}


/* ---------------------------- shield */


#equipped #shieldHand {  position: relative;
                         opacity:0; -moz-transition: all .5s ease;
                         -o-transition: all .5s ease;
                         transition: all .5s ease;}

#equipped.armShield #shieldHand {
    @include transformRotate(20deg);  top: 87px;
    left: 9px;

    opacity:1;
}
#equipped.armShield #shieldHand i {background:#999;position:absolute;border-radius:10px;
                                   -moz-transition: all .5s ease;
                                   -o-transition: all .5s ease;
                                   transition: all .5s ease;
}
#equipped.armShield #shieldHand i.p1 {   width: 10px;
                                         height: 50px;
                                         left: 87px;
                                         right: 0px;
                                         margin: 0 auto;
                                         top: 5px;}
#equipped.armShield #shieldHand i.p2 {}




/* ---------------------------- 2h sword */

#equipped.arm2h #leftArm {
    height: 20px;
    right: 30px;
}
#equipped.arm2h #leftArm .armorPiece {height: 20px;}

#equipped.arm2h #rightArm {
    right: 37px;
    @include transformRotate(50deg);  height: 32px;
    top: 101px;
}
#equipped.arm2h #swordHand {
    top: 15px;
    @include transformRotate(-25deg);  left: 13px;
}
#equipped.arm2h #swordHand i.p1 {
    height: 170px;
    top: -70px;
    width:9px;
}
#equipped.arm2h #swordHand i.p2 {
    height:9px;
}
/* ---------------------------- dagger */


#equipped.armDagger #swordHand {
    top: 25px;
    @include transformRotate(-60deg);  left: -55px;
}
#equipped.armDagger #swordHand i.p1 {
    height: 40px;
    top: 40px;
    right: 167px;
}
#equipped.armDagger #swordHand i.p2 {
    width: 20px;
    top: 62px;
    right: 167px;
}
/* ---------------------------- alt dagger */
#equipped.armAltDagger #leftArm {
    @include transformRotate(55deg);
    left: -6px;
    top: 99px;
}
#equipped.armAltDagger #swordHand {
    @include transformRotate(-10deg);
    top: 75px;
    left: 35px;
}
#equipped.armAltDagger #swordHand i.p1 {
    height: 40px;
    top: 30px;
}
#equipped.armAltDagger #swordHand i.p2 {
    width: 20px;
    top: 42px;
}

/* ---------------------------- off hand dagger */
#equipped.armAltDagger #rightArm {
    @include transformRotate(-55deg);
    left: 44px;
    top: 99px;
}
#equipped.armAltDagger #shieldHand {
    @include transformRotate(20deg);  top: 87px;
    left: 9px;

    opacity:1;
}
#equipped.armAltDagger #shieldHand i {background:#999;position:absolute;border-radius:10px;
                                   @include transitionAll(.5s);
}
#equipped.armAltDagger #shieldHand i.p1 { width: 7px;
  height: 40px;
  left: 92px;
  right: 0px;
  margin: 0 auto;
  top: 18px;}
#equipped.armAltDagger #shieldHand i.p2 {width: 20px;
  height: 7px;
  left: 92px;
  right: 0px;
  margin: 0 auto;
  top: 31px;}


/* ---------------------------- alt dagger - nod head */

#equipped.armAltDagger .upperHalf {
  top: 3px;
@include transitionAll(1s);
}
#equipped.armAltDagger #head {
  top: 53px;
@include transitionAll(1s);
}


/* ---------------------------- bo staff */
#equipped.armBo #swordHand {
    top: 15px;
    @include transformRotate(-25deg);
    left: 13px;
}
#equipped.armBo #swordHand i.p1 {
    @include transformRotate(-30deg);  top: 3px;
    background-color: #aa6666;
    right: 167px;
}
#equipped.armBo #swordHand i.p2 {
    @include transformRotate(60deg);   top: 86px;
  height: 10px;
  width: 30px;
  right: 166px; background: #fff;
    opacity: .5;border-radius: 0;
}



/* ---------------------------- Warhammer */
#equipped.armWarhammer #swordHand {
    top: 14px;
    @include transformRotate(-35deg);  left: -3px;
}
#equipped.armWarhammer #swordHand i.p1 {
  height: 160px;
  top: -62px;
  border-radius: 0 0 10px 10px;
  width: 11px;
}
#equipped.armWarhammer #swordHand i.p2 {
  height: 70px;
  top: -58px;
  width: 70px;
  border-radius: 0;
}


/* ---------------------------- BattleAxe */
#equipped.armBattleAxe #swordHand {
    @include transformRotate(-25deg);
    top: 18px;
    left: 15px;
}

#equipped.armBattleAxe #swordHand i.p1 {
  height: 150px;
  top: -50px;
  border-radius: 10px;
  width: 10px;
}
#equipped.armBattleAxe #swordHand i.p2 {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 70px solid #999;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: none;
  transform: rotate(-90deg);
  top: -60px;
  left: -10px;
}
#equipped.armBattleAxe #swordHand i.p3 {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 70px solid #999;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: none;
  transform: rotate(90deg);
  top: -60px;
  left: 30px;
}
