/* CSS Document


light red						#ff807a
red								#ed4949
brown 			Wood:#7d3d1c
lightbrown 	Iron:#c59673
lightblue 		Steel/Silver:#c6e4ff
blue 			Mithril:#70b9ed
green			Adamantium:#87d63f
dark green						#4F6C42 - crafting button
gold			Unobtanium:#ffd016
yellow							#fff000
dark red		DragonBone:#bb0000
black			Graynium:#000000
purple							#6d3eb8
pink			enchanted:#ff9eff
*/




/* ---------------------------------------------------------------------------------------------------- COLORS */

/* ---------------------------- RED */
$red:#db6c64;
$redOG:#FF807B;
$lightred:#FF807B;
$redBRIGHT:#fc4b4b;
$redbrown:#996162;

$dred:#ed4949;
$darkred:#bb0000;

/* ---------------------------- BLUE */
$blueOG:#70b9ed;
$blueBRIGHT:#46abf3;
$blue:#689cc1;

$lightblue:#c6e4ff;
$darkblue:#518fbc;
$ocean:#1eb5f1;

/* ---------------------------- GREEN */
$lgreen:#b8deb0;
$greenOG:#87d63f;
$greenBRIGHT:#48c312;
$green:#7ebe63;


/* ---------------------------- GOLD/YELLOW */
$goldOG:#ffd016;
$goldBRIGHT:#ffba00;
$gold:#f1b238;

$yellow:#ffff00;

/* ---------------------------- PURPLE */
$purpleOG:#6d3eb8;
$purpleBRIGHT:#9b6fe6;
$purple:#9f8ac2;



/* ---------------------------- BROWN */
$brownOG:#c59673;
$brownBRIGHT:#b47d54;
$brown:#9c7a60;
$darkbrown:#7d3d1c;

$lightbrown:#FFD38B;
$lightbrown:#c59673;


/* ---------------------------- MISC */



/* ---------- GRAY */
$white:#FFF;
$lightestgray:#f7f7f7;
$lightgray:#eee;
$lgray:#ccc;
$gray:#A4A4A5;$gray:#999;
$dgray:#77777A;$dgray:#777;
$darkgray:#646569;$darkgray:#666;
$darkergray:#55565A;$darkergray:#555;
$darkestgray:#474747;
$ddgray:#333;
$dddgray:#222;
$black:#000;
